.modal-box {
  visibility: hidden;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #000000ad;
  z-index: 1;
}

.modal-box__form-wrapper {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  margin: 123px auto auto;
}

.modal-box_visible {
  visibility: visible;
}

.modal-box__button-close {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: 1px transparent solid;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-left: auto;
  right: -35px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .modal-box__button-close {
    right: 0;
    width: 26px;
    height: 26px;
  }
}
