.modal-box {
  visibility: hidden;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #000000ad;
  z-index: 1;
}

.modal-box_visible {
  visibility: visible;
}

.modal-box__wrapper {
  margin: auto;
  box-sizing: border-box;
  max-width: 433px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
}

.modal-box__button-close {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: 1px transparent solid;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-left: auto;
  right: -35px;
}

.modal-box__photo {
  max-width: 100%;
  max-height: 100%;
}

.modal-box__photo-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 580px) {
  .modal-box__button-close {
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal-box__wrapper {
    max-width: 75vw;
    max-height: 85vh;
  }
}
