.profile {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin-top: 45px;
  color: white;
}

.profile__avatar {
  margin-right: 30px;
  border-radius: 100%;
}

.profile__info {
  display: grid;
  margin-top: 22px;
  grid-template-areas:
    "title button"
    "occupation occupation";
}

.profile__heading {
  grid-area: title;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__sub-heading {
  grid-area: occupation;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 1.12rem;
  background: transparent;
  border: 1px white solid;
}

.profile__info_edit-button:hover {
  opacity: 0.6;
}

.profile__button-wrapper {
  margin-left: auto;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px white solid;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 35px;
  margin-left: auto;
}

.profile__button_add:hover {
  opacity: 0.6;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 580px) {
  .profile {
    justify-content: center;
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
  }
  .profile__avatar {
    margin: 0;
  }
  .profile__heading {
    font-size: 22px;
  }

  .profile__sub-heading {
    font-size: 14px;
    text-align: center;
  }

  .profile__button-wrapper {
    min-width: 100%;
  }
  .profile__add-button {
    width: 100%;
  }
}

@media (min-width: 581px) and (max-width: 783px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
  .profile__button-wrapper {
    min-width: 100%;
  }
  .profile__add-button {
    width: 100%;
  }
}

@media (min-width: 690px) and (max-width: 879px) {
  .profile {
    padding-left: 6%;
    padding-right: 6%;
  }
}
