.card {
  display: flex;
  flex-direction: column;
  min-width: 282px;
  /* max-height: 362px; */
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.card__delete-button {
  background: transparent;
  background-image: url(../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 19.3px;
  border: 0;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.8;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__content {
  width: 246px;
  display: flex;
  align-items: center;
  margin: 25px auto 28px auto;
  box-sizing: border-box;
}

.card__title {
  margin: 0 auto 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  border: none;
  background-color: transparent;
  width: 21px;
  height: 19px;
  background-image: url(../images/card\ hearth.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/card\ hearth\ black.svg);
  opacity: 1;
}

.like-button-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
}

.card__likes-counter {
  font-size: 13px;
  margin: 0;
  margin-top: 3px;
  align-items: flex-end;
}
