.gallery {
  margin: 45px auto 0 auto;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .gallery {
    margin-top: 36px;
  }
}
