.profile {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin-top: 45px;
  color: white;
}

.profile__avatar-wrapper {
  margin-right: 30px;
  max-width: 120px;
  max-height: 120px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.profile__avatar-wrapper:hover {
  opacity: 0.5;
}
.edit-avatar-button {
  z-index: 1;
}
.profile__avatar-wrapper:hover .edit-avatar-button {
  z-index: 2;
}

.profile__avatar {
  border-radius: 100%;
  z-index: 1;
  max-width: 120px;
  max-height: 120px;
}

.avatar-edit-button {
  position: inherit;
  width: 26px;
  height: 26px;
  border: 0;
  cursor: pointer;
  position: relative;
  left: 250%;
  opacity: 1;
}

.edit-avatar-button:hover {
  opacity: 0.7;
}

.profile__info {
  display: grid;
  margin-top: 22px;
  grid-template-areas:
    "title button"
    "occupation occupation";
}

.profile__heading {
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__sub-heading {
  grid-area: occupation;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 1.12rem;
  background: transparent;
  border: 1px white solid;
  cursor: pointer;
  background-image: url(../images/edit_button_Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__button-wrapper {
  margin-left: auto;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px white solid;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 35px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* Media Queries */

@media screen and (max-width: 320px) {
  .profile {
    width: 282px;
    height: 286px;
    margin: 42px auto 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 580px) {
  .profile {
    justify-content: center;
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
    margin: 42px auto 0 auto;
  }
  .profile__avatar {
    margin: 0;
  }
  .profile__heading {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }

  .profile__sub-heading {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 218px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 100%;
  }
}

@media (min-width: 580px) and (max-width: 879px) {
  .profile__heading {
    max-width: 347.5px;
  }

  .profile__sub-heading {
    max-width: 347px;
  }
}

@media (min-width: 581px) and (max-width: 799px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
  .profile__heading {
    max-width: 347.5px;
  }

  .profile__sub-heading {
    max-width: 347px;
  }
  .profile__button-wrapper {
    min-width: 100%;
  }
  .profile__add-button {
    width: 100%;
  }
}

@media (min-width: 690px) and (max-width: 880px) {
  .profile {
    padding-left: 6%;
    padding-right: 6%;
  }
}
